<%- layout('layout/main.ejs') %>
    <div class="container">
        <!-- Campñana modal-->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mails para campaña</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <textarea class="form-control" id="copyTextarea" cols="20" rows="30">
                        <% empresas.forEach(empresa=> {%>
                                <%= empresa.name %>
                                <%= empresa.cuit %>
                            <% }); %>
                    </textarea>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnCopy">Copiar <i class="fas fa-copy"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Fin Campñana modal-->

        <div class="row align-middle">
            <div class="col-md-8">
                <h1 class="my-4">EMPRESAS
                </h1>
            </div>
            <div class="col-md-4">
                <!-- Search Field -->
                <form action="/list" method="POST">
                    <div class="input-group my-4">
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" onkeyup="sendaData(this)" name="name" id="search" list="searchResult" placeholder="Buscar Empresa..." autofocus>
                        <div class="input-group-append align-middle">
                            <button class="btn btn-dark"><i class="fas fa-search"></i></button>
                        </div>
                        <datalist id="searchResult">
                    </datalist>
                    </div>
                </form>

                <datalist id="searchResult">
                    </datalist>

            </div>

            <script>
                function sendaData(e) {
                    const searchResult = document.getElementById('searchResult');
                    let match = e.value.match(/^[a-zA-Z ]*/);
                    let match2 = e.value.match(/\s*/);

                    if (match2[0] === e.value) {
                        searchResult.innerHTML = '';
                        return;
                    }

                    if (match[0] === e.value) {

                        fetch('/getEmpresas', {
                            method: 'POST',
                            headers: {
                                'Content-type': 'application/json'
                            },
                            body: JSON.stringify({
                                payload: e.value
                            })
                        }).then(res => res.json()).then(data => {
                            let payload = data.payload;

                            //Reiniciar buscador
                            searchResult.innerHTML = '';

                            //Si no hay nada
                            if (payload.length < 1) {
                                searchResult.innerHTML = '<option class="my-2 mx-2" value="No hay resultados">'
                                return;
                            }

                            //Traer resultados y darles estilos
                            payload.forEach((item, index) => {
                                if (index > 0) searchResult.innerHTML += '<hr>';
                                //searchResult.innerHTML += `<p class="my-2">${item.name}</p>`;
                                searchResult.innerHTML += `<option class="table-dark" value="${item.name}"">`
                            });
                        });

                        return;
                    }

                    //Si no se realiza acción, borrar el buscador
                    searchResult.innerHTML = '';
                };
            </script>

        </div>

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="align-middle" class="align-middle">Empresa
                        <a href="/list?name=name"><i class="fas fa-sort-down mb-2 ml-2"></i></a>
                    </th>
                    <th scope="col" class="align-middle">Cuit</th>
                    <th scope="col" class="align-middle">URL</th>
                    <th scope="col" class="align-middle">ConstruAr<a href="/list?name=construar"><i class="fas fa-sort-down mb-2 ml-2"></i></a></th>
                    <th scope="col" class="align-middle">Notas<a href="/list?name=construar_note"><i class="fas fa-sort-down mb-2 ml-2"></i></a></th>
                    <th scope="col" class="align-middle">ObraP<a href="/list?name=op_suscript"><i class="fas fa-sort-down mb-2 ml-2"></i></a></th>
                    <th scope="col" class="align-middle">Ex ObraP<a href="/list?name=op_exsuscript"><i class="fas fa-sort-down mb-2 ml-2"></i></a></th>
                    <th scope="col" class="align-middle">Email<a href="/list?name=send_mail"><i class="fas fa-sort-down mb-2 ml-2"></i></a></th>
                    <th scope="col" class="align-middle">Llamar<a href="/list?name=call"><i class="fas fa-sort-down mb-2 ml-2"></i></a></th>
                    <th scope="col" class="align-middle">Editar</th>
                    <th scope="col" class="align-middle">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% empresas.forEach(empresa=> {%>
                    <tr>
                        <th scope="row" class="align-middle">
                            <%= empresa.name %>
                        </th>
                        <td class="align-middle">
                            <%= empresa.cuit %>
                        </td>
                        <td class="align-middle">
                            <a href="<%= empresa.url %>" target="_blank">
                                <%= empresa.url %>
                            </a>
                        </td>
                        <td class="align-middle <%= empresa.construar %> icon text-center">
                        </td>
                        <td class="align-middle <%= empresa.construar_note %> icon text-center">
                        </td>
                        <td class="align-middle <%= empresa.op_suscript %> icon text-center">
                        </td>
                        <td class="align-middle <%= empresa.op_exsuscript %> icon text-center">
                        </td>
                        <td class="align-middle <%= empresa.send_mail %> icon text-center">
                        </td>
                        <td class="align-middle <%= empresa.call %> icon text-center ">
                        </td>
                        <td class="align-middle">
                            <a href="/update/<%= empresa._id %>" class="btn btn-success btn-sm">Editar</a>
                        </td>
                        <td class="align-middle">
                            <form action="/delete/<%= empresa._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger btn-sm" _id="<%= empresa._id %>">Borrar</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <div class="row">
            <div class="col mt-2">
                <p><strong>Empresas en total:</strong>
                    <span class="badge bg-primary text-white py-1 px-2"> 
                    <%= totalDocs %></span>
                </p>
            </div>

            <div class="col text-center ">
                <% if(prevPage !== null){ %>


                    <a href="?<%= query%>&page=<%=prevPage %>" class="btn btn-dark"><i class="fas fa-chevron-circle-left"></i></a>

                    <% } %>

                        <% if(nextPage !== null){ %>


                            <a href="?<%= query%>&page=<%=nextPage %>" class="btn btn-dark "><i class="fas fa-chevron-circle-right"></i></a>


                            <% } %>
            </div>

            <div class="col text-right"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                Campaña
              </button></div>
        </div>
    </div>